.bookmark{
    position: absolute;
    background: #000000;
    border-color: #000000;
    color: #fff;
    padding: 0.2rem;
    z-index: 20;
    right: 0;
    margin: 0.3em;;
    border-radius: 100%;
    font-size: 1.25rem;
}