.playground{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.75rem;
    margin: auto;
}

.title{ 
    color: #ffffff;
    font-weight: 500;
    overflow-wrap: break-word;
    word-break: normal;
    font-size: 20px;
}

.bigger7{
    font-size: 15px;
    font-weight: 700;
    color: rgb(34 197 94);
    padding: 0.5rem;
    background-color: rgb(24 24 27);
    border-radius: 9999px;
}

.bigger55{
    font-size: 15px;
    font-weight: 700;
    color: rgb(251 146 60);
    padding: 0.5rem;
    background-color: rgb(24 24 27);
    border-radius: 9999px;
}

.bigger1{
    font-size: 15px;
    font-weight: 700;
    color: rgb(220 38 38);
    padding: 0.5rem;
    background-color: rgb(24 24 27);
    border-radius: 9999px;
}