.desc{
    background-color: #511E31;
    border-radius: 16px;
    color: #fff;
    padding: 3%;
    margin: 1%
}

.grad{
    background-color: #511E31;
    border-radius: 16px;
    color: #fff;
    padding: 3%;
}
.btnhover:hover {
    background-color: #75002d;
  }
